<!--MODAL EDITAR -->
<div class="modal fade" id="ModalAgregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalScrollableTitle">Agregar Categoría</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form mr-lg-auto" #postEditForm="ngForm">
          <input name="codigoCategoria" hidden="" type="text" class="form-control" [(ngModel)]="tempCategoria.id">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Nombre</label>
              <input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="tempCategoria.name"
                required pattern="[a-zA-Z ]+">
              <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">El nombre no es valido</small>
            </div>
            <div class="form-group col-md-6">
              <label>Descripción</label>
              <input type="text" name="description" class="form-control" [(ngModel)]="tempCategoria.description">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <input type="submit" class="btn btn-light" value="Agregar" data-dismiss="modal" (click)="create()">
      </div>
    </div>
  </div>
</div>
<!--MODAL Agregar -->
<!--MODAL EDITAR -->
<div class="modal fade" id="ModalEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalScrollableTitle">Editar Categoría</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form mr-lg-auto" #postEditForm="ngForm">
          <input name="codigoCategoria" hidden="" type="text" class="form-control" [(ngModel)]="tempCategoria.id">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Nombre</label>
              <input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="tempCategoria.name"
                required pattern="[a-zA-Z ]+">
              <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">El nombre no es valido</small>
            </div>
            <div class="form-group col-md-6">
              <label>Descripción</label>
              <input type="text" name="description" class="form-control" [(ngModel)]="tempCategoria.description">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <input type="submit" class="btn btn-light" value="Actualizar" data-dismiss="modal" (click)="update()">
      </div>
    </div>
  </div>
</div>
<!--FIN MODAL EDITAR -->
<!--INICIO MODAL ELIMINAR -->
<div class="modal fade" id="borrarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmar borrado?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Esta seguro que desea borrar esta categoría?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-danger mr-2" (click)="delete()" data-dismiss="modal">Confirmar
          borrado</button>
      </div>
    </div>
  </div>
</div>
<!--MODAL ELIMINAR -->
<button (click)="resetTempCategoria()" data-toggle="modal" data-target="#ModalAgregar" class="btn btn-warning">Agregar</button>
<div class="table-responsive-sm">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th *ngIf="token" scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cat of categories; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ cat.id}}</td>
        <td>{{ cat.name}}</td>
        <td>{{ cat.description}}</td>
        <td *ngIf="token" ><button (click)="getCategory(cat.id)" data-toggle="modal" data-target="#ModalEditar"
            class="btn btn-info">Editar</button>
            <br>
            <br>
          <button (click)="getCategory(cat.id)" type="button" class="btn btn-danger mr-2" data-toggle="modal"
            data-target="#borrarModal">
            Borrar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
