<!-- MODAL AGREGAR PRODUCTO A LA VENTA -->
<div class="modal fade" id="ModalAgregarProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalScrollableTitle">Añadir Producto</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form mr-lg-auto" #postEditForm="ngForm">
          <input name="codigoProducto" hidden="" type="text" class="form-control" [(ngModel)]="tempSale.id">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Producto</label>
              <select name="customer_id" [(ngModel)]="tempSale_Product.idProduct" class="form-control">
                <option *ngFor="let prod of products" value="{{prod.id}}">
                  {{prod.name}}
                </option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label>Cantidad</label>
              <input type="number" name="quantity" class="form-control" [(ngModel)]="tempSale_Product.quantity">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Precio Total</label>
              <input type="number" name="totalPrice" class="form-control" [(ngModel)]="tempSale_Product.totalPrice">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <input type="submit" class="btn btn-light" value="Agregar" data-dismiss="modal" (click)="createSaleProduct()">
      </div>
    </div>
  </div>
</div>
<!-- FIN MODAL AGREGAR PRODUCTO A LA VENTA -->
<!-- MODAL AGREGAR VENTA -->
<div class="modal fade" id="ModalAgregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalScrollableTitle">Agregar Venta</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form mr-lg-auto" #postEditForm="ngForm">
          <input name="codigoProducto" hidden="" type="text" class="form-control" [(ngModel)]="tempSale.id">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>IVA</label>
              <input type="number" name="iva" class="form-control" [(ngModel)]="tempSale.iva">
            </div>
            <div class="form-group col-md-6">
              <label>Precio Total</label>
              <input type="number" name="totalPrice" class="form-control" [(ngModel)]="tempSale.totalPrice">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Descuento</label>
              <input type="number" name="discount" class="form-control" [(ngModel)]="tempSale.discount">
            </div>
            <div class="form-group col-md-6">
              <label>Cliente</label>
              <select name="customer_id" [(ngModel)]="tempSale.idCustomer" class="form-control">
                <option *ngFor="let cus of customers" value="{{cus.id}}">
                  {{cus.name}}
                </option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <input type="submit" class="btn btn-light" value="Agregar" data-dismiss="modal" (click)="create()">
      </div>
    </div>
  </div>
</div>
<!-- FIN MODAL AGREGAR VENTA -->
<!-- MODAL EDITAR -->
<div class="modal fade" id="ModalEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalScrollableTitle">Editar Venta</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form mr-lg-auto" #postEditForm="ngForm">
          <input name="codigoProducto" hidden="" type="text" class="form-control" [(ngModel)]="tempSale.id">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>IVA</label>
              <input type="number" name="iva" class="form-control" [(ngModel)]="tempSale.iva">
            </div>
            <div class="form-group col-md-6">
              <label>Precio Total</label>
              <input type="number" name="totalPrice" class="form-control" [(ngModel)]="tempSale.totalPrice">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Descuento</label>
              <input type="number" name="discount" class="form-control" [(ngModel)]="tempSale.discount">
            </div>
            <div class="form-group col-md-6">
              <label>Cliente</label>
              <select name="customer_id" [(ngModel)]="tempSale.idCustomer" class="form-control">
                <option *ngFor="let cus of customers" value="{{cus.id}}">
                  {{cus.name}}
                </option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <input type="submit" class="btn btn-light" value="Actualizar" data-dismiss="modal" (click)="update()">
      </div>
    </div>
  </div>
</div>
<!-- FIN MODAL EDITAR -->
<!-- MODAL ELIMINAR -->
<div class="modal fade" id="borrarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmar borrado?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Esta seguro que desea borrar la venta?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-danger mr-2" (click)="delete()" data-dismiss="modal">Confirmar
          borrado</button>
      </div>
    </div>
  </div>
</div>
<!-- FIN MODAL ELIMINAR -->
<!-- TABLA DATOS -->
<div class="add">
  <br>
   <button id="boton" (click)="resettempSale()" data-toggle="modal" data-target="#ModalAgregar" class="btn btn-warning">Agregar</button>
   <br>
   <br>
 </div><div class="table-responsive-sm">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">IVA</th>
        <th scope="col">Precio Total</th>
        <th scope="col">Descuento</th>
        <th scope="col">Cliente</th>
        <th scope="col">Productos</th>
        <th *ngIf="token" scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sale of sales; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ sale.id}}</td>
        <td>{{ sale.iva}}%</td>
        <td>{{ sale.totalPrice}}</td>
        <td>{{ sale.discount}}</td>
        <td>
          <span *ngFor="let cus of customers; index as x">
            <p *ngIf="sale.idCustomer==cus.id">{{ cus.name}}</p>
          </span>
        </td>
        <td>
          <span *ngFor="let saleProd of sale_products; index as y">
            <span *ngFor="let prod of products; index as z">
              <p *ngIf="sale.id==saleProd.idSale && saleProd.idProduct==prod.id">{{ prod.name}} --> {{ saleProd.quantity}}</p>
            </span>
          </span>
        </td>
        <td *ngIf="token">
          <button (click)="resettempSale_Product(sale.id)" data-toggle="modal" data-target="#ModalAgregarProducto"
          class="btn btn-warning">Agregar Producto</button>
            <br>
            <br>
          <button (click)="getSale(sale.id)" (click)="getSale_Products()" type="button" class="btn btn-danger mr-2" data-toggle="modal"
            data-target="#borrarModal">
            Borrar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- FIN TABLA DATOS -->
